* {
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
}

html {
    background-color: #014152;
}

body {
    font-family: monospace, sans-serif;
    margin: auto;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: #00313E;
}

header {
    font-family: monospace, sans-serif;
    background-color: #014152;  /* maroon */
    width: auto;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: #FF9537 ;
    font-size: 20px;
}

/* me */

.card-deck{
    display: inline-block;
    width: 90%;
    text-decoration: none;
    list-style-type: none;
}

.card{
    display: inline-block;
    font-size: 23px;
    text-align: left;
    color:#B99BE2;
    text-decoration: none;
    list-style-type: none;
    border-color: black;
}

.greeting {
    color: #FFA1E2;
}

/* form */

input{
    color:#FF9537;
}

input[type=text] {
    width: 20%;
    padding: 10px;
    border: 4px solid #9073B3;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #014152;
    border-radius: 7px;
}

input[type=password] {
    width: 20%;
    padding: 10px;
    border: 4px solid #9073B3;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #014152;
    border-radius: 7px;
}

::placeholder {
    color: #D7D7D7;
}

label {
    font-size: 20px;
    color: #B99BE2;
}

button[type=submit] {
    width: 10%;
    background-color: #FFA1E2;
    color: #01415200313E;
    padding: 8px;
    margin: 13px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #B99BE2;
}

.button{
    width: 10%;
    background-color: #FFA1E2;
    text-decoration: none;
    color: #00313E;
    padding: 11px;
    margin: 13px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover{
    background-color: #B99BE2;
    text-decoration: none;
    color: #00313E;
}

/* Footer */
footer {
    background-color: #014152;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #FF9537;
    height: 50px;
    margin: auto;
    text-align: left;
    padding: 20px;
    overflow: hidden;
    clear: both;
}

footer p {
    width: auto;
    font-size: 15px;
    text-align: left;
}